---
import Layout from "../layouts/Layout.astro"

---

<Layout title="About">
  <main class="container">

    <div>test, need to place this better on the page once we add more to it</div>
  </main>
</Layout>