---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button'
---

<Layout title="Welcome">
	<main>
		<h1>Welcome to a Website!</h1>
		<Button client:load />
		<a href="/test">test</a>
	</main>
</Layout>
