---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button'
import Navbar	from '../components/Navbar'
---

<Layout title="Welcome">
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/">News</a></li>
			<li><a href="/">Contact</a></li>
			<li><a href="/">About</a></li>
		</ul>
	</nav>
	<main class="center">
		<!-- <Navbar /> -->
		<h1>Welcome Zachs Website!</h1>
		<Button client:idle />
	</main>
</Layout>

<style>
		.center {
		margin: auto;
		text-align: center;
		}

</style>
